fastapi
uvicorn[standard]
pydantic
langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langchain-google-genai
google-auth
google-api-python-client
google-auth-httplib2
python-dotenv
httpx
